<nav>
	<ul class="top">
			<li><a href="#" class="recolor"> Logged in as <%= locals.user.username %> </a></li>
      <li><a href="/home">Homepage</a></li>
			<li><a href="/alg">Algorithms</a></li>
			<li class="right"><a href="/logout">Logout</a></li>
    </ul>
</nav>
