<!DOCTYPE html>
<html lang="en">
<head>
	<title>Goodbye!:)</title>

	<meta charset="utf-8">
	<meta name="author" content="Ionel"/>
	<link type="text/css" rel="stylesheet" href="../resources/stil.css"/>
</head>
<body class="container">

<main>
    Don't ever try that again!
</main>

<footer>
    <%- include ("../templates/footer") %>
</footer>

</body>
</html>
