<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="author" content="Eduard Turtoi"/>
	<link type="text/css" rel="stylesheet" href="../resources/stil.css"/>
</head>

<body class="container">

<main>
  <div class="afisaj">
    <h1>Algorithms-Register Page</h1>
		<% if(locals.error_message) { %>
			<p> The username is already chosen! Please try another one. </p> <br>
		<% } %>
  	Please fill the fields below to register: <br> <br>
  	<form id="login" method="post" >
	  	<label>
	  		Username: <input type="text" name="username" value="username">
	  	</label>
			<br><br>
	  	<label>
	  		Parola: <input type="password" name="password" value="password">
	  	</label>
			<br><br>
	  	<input type="submit" value="Submit">
	  </form>
  </div>
</main>

<footer>
    <%- include ("../templates/footer") %>
</footer>

</body>
</html>
